.blockOne {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.blockTwo,
.blockThree{
    display: flex;
}


.itemOne,
.itemTwo,
.itemThree {
    width: 33.3%;
    height: 200px;
}


.itemOne {
    background-color: blueviolet;
    border: 1px solid black;
}


.itemTwo {
    background-color: rgb(255, 80, 223);
    border: 1px dashed black;
}


.itemThree {
    background-color: rgb(223, 59, 89);
    border: 1px solid black;
}


.itemFour,
.itemFive{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.itemFour {
    width: 33.3%;
}


.itemFive {
    width: 66.7%;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.modal-window {
    color: white;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
}

.modalClose {
    background-image: url(images/close.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    border: none;
    background-color: inherit;
    border-radius: 10px;
    float: right;
}


.modalText{
    font-size: 20px;
    font-weight: bold;
    padding-top: 130px;
}


.blockHide {
    display: none;
}


.itemMove {
    order: -1;
}


@media (max-width: 380px) {
    .itemOne, .itemTwo, .itemThree, .itemFour, .itemFive {
        width: 100%;
    }

    .blockTwo, .blockThree {
        flex-direction: column;
    }
}