.sectionOne {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionTwo {
    display: flex;

    @media (max-width: 380px) {
        flex-direction: column;
    }

    >div {
        border: 1px solid black;
    }
}


.itemOne {
    width: 33.3%;
    height: 200px;
    background-color: blueviolet;
}


.itemTwo {
    width: 33.3%;
    height: 200px;
    background-color: rgb(255, 80, 223);
    border: 1px dashed black !important;
}


.itemThree {
    width: 33.3%;
    height: 200px;
    background-color: rgb(223, 59, 89);
}


.sectionThree {
    display: flex;

    @media (max-width: 380px) {
        flex-direction: column;
    }

    >div {
        border: 1px solid black;
    }
}


.itemFour {
    width: 33.3%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.itemFive {
    width: 66.7%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    border: 1px solid black;
}


.modal {
    display: none;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.modal-window {
    position: relative;
    color: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.modal-visible {
    display: flex;
}


.modalClose {
    background-image: url(images/close.svg);
    background-repeat: no-repeat;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    position: absolute;
    border: none;
    background-color: inherit;
    border-radius: 10px;
}


.adaptive {
    @media (max-width: 380px) {
        width: 100%;
    }
}


.sectionHide {
    display: none;
}


.itemMove {
    order: -1
}


.overflowHidden {
    overflow: hidden;
}